@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@400&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #E0B1CB;
  font-family: "Londrina Solid";
  align-items: center;
  justify-content: center;
}